<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Puppy</title>
 </head>
 <body>
   <h1>Your new puppy!</h1>
    <h2><%= "Puppy Name: \n#{@puppy[:name]}" %></h2>
    <h2><%= "Breed: #{@puppy[:breed]}" %></h2>
    <h2><%= "Age: #{@puppy[:age]}" %></h2>
 </body>
</html>
